
/********* MOBILE **********/
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Sans-Serif;
    letter-spacing: .2mm;
    color: white;
    background-image:linear-gradient(135deg,lightcoral, 1%, #222225, #222225, #222225);
    transition: all .3s ease-in-out;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .8; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  opacity: .8;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  opacity: .8;
}

a {
  text-decoration: none;
  color: white
}

h1, h2 {
  margin-left: 10px;
}




/* MENU BAR */
.menu-wrap {
    margin: 0;
    padding: 0;
    /*background-color: /*#222225*/ /*rgba(34, 34, 37, .5) /*#303638*/
   background-image: linear-gradient(to bottom,#222225,70%, rgba(34, 34, 37, .3) );
   transition: all .3s ease;
}

.menu {
    position: relative;
    margin: 0;
    padding: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 8vh;
}

.menu nav {
  margin-right: 4%;
}

.menu nav ul{
  display: flex;
  flex-direction: row;
}

.menu nav ul li {
  margin: 0px 20px;
  margin-top: 15px;
  list-style: none;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .3mm;
  display: none;
}
.desk-link1:hover {
  color: lightcoral;
}
.desk-link2:hover {
  color: cornflowerblue;
}
.desk-link3:hover {
  color: #D1B000;
}
.desk-link4:hover {
  color: rgb(237, 100, 180);
}
.desk-link5:hover {
  color: rgb(100, 237, 187);
}


.menu h1 {
    position: absolute;
    left: 15px;
    color: white;
}

#logo {
    position: absolute;
    width: 125px /*150px for desktop*/;
    height: 50px /*60px for desktop*/;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#logo-link {
  padding: 0;
  margin: 0;
}

.pfp-wrap {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.pfp-btn {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: none;
}

.user-pfp {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.user-pfp:hover {
    border: 2px solid black;
    height: 46px;
    width: 46px;
}

.bar {
    display: flex;
    flex-direction: column;
    margin: 8px;
    height: 2px;
    width: 30px;
    background-color: white;
    border-radius: 2px;
    transition: all .3s ease-in-out;
}

.menu-icon:hover .bar {
    background-color: lightcoral;
}

.menu-active .b-2 {
    opacity: 0;
    transition: all .3s ease-in-out;
}

.menu-active .b-1 {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
  transition: all .3s ease-in-out;
}

.menu-active .b-3 {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
  transition: all .3s ease-in-out;
}


/* dropdown nav */
#main-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    box-sizing: border-box;
    margin: 0;
    top: 9.2vh;
    padding: 0;
    padding-top: 20px;
    width: 100%;
    height: 90.8vh;
    overflow-y: hidden;
    overflow: hidden;
    transition: all .3s;
    background-color: #222225;
    opacity: 0;
    transition-property: overflow-y, opacity, transform;
    transition-duration: .3s;
    z-index: 0;
}



#main-nav ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: #222225;
}

#main-nav ul li {
    color: #fcfcfc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #222225;
    list-style: none;
    transition: all .3s;
    font-size: 1.2em;
    font-weight: 500;
}

#main-nav ul li a {
  color: white;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 1.8em 0;
  background-color: #222225;
}

#main-nav ul li a:hover {
  color: black;
  background-color: lightcoral;
  font-size: 1.1em;
}

#logout {
  position: absolute;
  min-width: 300px;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 16px;
  padding: 20px 90px;
  color: black;
  background-color: white;
  cursor: pointer;
}

#logout:hover {
  background-color: lightcoral;
}

#logout-desk {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 16px;
  padding: 10px;
  color: black;
  background-color: lightcoral;
  margin-left: 10px;
  cursor: pointer;
  display: none;
}


/* MAIN BODY */
main {
    margin: 0;
    padding: 0;
    opacity: 0;
  -webkit-animation-name: headerIn;
          animation-name: headerIn;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#search-form {
  margin-left: 10px;
}

.search-wrap {
  display: block;
  background-color: rgba(34, 34, 37, .5);
  margin: 0;
  margin-left: 10px;
  margin-top: 0px;
  width: 90%;
  padding-left: 2px;
  transition: all .3 ease-in-out;
}

.search-bar {
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.4em;
  letter-spacing: .3mm;
  width: 70%;
  padding: 0px 20% 6px 2px;
  margin: 0;
  margin-top: 80px;
  z-index: 98;
  background-image: url("/static/search-icon.png");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 85% 28%;
}

.search-bar:focus {
  outline: none;
}

.search-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.search-item div {
  width: 75%;
}

.search-item:hover {
  background-color: rgba(255,255,255,.8);
  color: black !important;
}

.search-img {
  width: 55px;
  height: 55px;
  margin: 10px;
  border-radius: 60px;
  pointer-events: none;
}

.search-hide {
  pointer-events: none;
}
.link-hide {
  display: none;
}

#result-item {
  display: none;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: -50px;
  width: 100%;
}

.result-item {
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-start;
}

.result-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 50%;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.result-info-s {
  margin-top: -15px;
}

.result-info-s .audio-player {
  margin-top: -20px;
}

.leaders-li {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px;
}

.leaders-li .result-info {
  width: 60%;
  margin-top: 40px;
}

.leaders-li h3 {
  position: absolute;
  left: 10px;
  margin-bottom: 20px;
}

.result-info p {
  padding-right: 10%;
}

#result-img {
  height: 120px;
  width: 120px;
  margin: 10px;
}

.open-wrap-artists {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 90%;
  top: 15%;
}

.open-wrap-tracks {
  position: absolute;
  margin-bottom: 40px;
  left: 90%;
}

.open-wrap {
  position: relative;
}

.open-spotify {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  margin-right: 15px;
  align-items: center;
  cursor: pointer;
}

.open-spotify:hover div, .open-spotify-artists:hover div {
  background-color: lightcoral;
}

.open-spotify div, .open-spotify-artists div {
  height: 8px;
  width: 8px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 8px;
}

.open-submenu {
  position: absolute;
  display: flex;
  right: 6%;
  top: 30px;
  width: 140px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  display: none;
  z-index: 999;
}

.open-submenu-leaders{
  top: -22px;
}

.submenu-artists {
  position: absolute;
  display: flex;
  right: 6%;
  top: -20px;
  width: 140px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  display: none;
  z-index: 999;
}

.open-submenu .button, .submenu-artists .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,.9);
  width: 100%;
  height: 50%;
  color: black;
  border: none;
  padding: 0px;
  margin: 0;
  border: .5px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.open-submenu .open-a, .submenu-artists .open-a {
  position: static;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none !important;
  color: black !important;
}


.open-submenu .button:hover, .submenu-artists .button:hover {
  background-color: lightcoral;
}

#audio-src {
  width: 100%;
  display: none;
}

.page-h1 {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 2.4em;
    letter-spacing: .4mm;
    text-shadow: 5px 8px 10px black;
    border-radius: 50%;
    padding-bottom: 0;
    display: block;
    
    /*opacity: 0;
  -webkit-animation-name: headerIn;
          animation-name: headerIn;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;*/
}
.recs{
  font-family: 'Caveat Brush', cursive;
  padding: 20px;
  margin-bottom: 40px;
  font-size: 1em;
  letter-spacing: .4mm;
}

.recs h1 {
  margin-left: 0;
}
.recs h3 {
  font-size: 2em;
}

.recs-sign {
  text-align: right;
  font-family: 'Caveat', cursive;
  margin-bottom: 80%;
  margin-right: 10%;
  font-size: 1.6em;
}
.about-sign {
  text-align: right;
  font-family: 'Caveat', cursive;
  margin-right: 10%;
  font-size: 1.3em;
}

.Our_Team{
  /*font-family: 'Caveat Brush', cursive;*/
  padding: 20px;
  margin-top: -50px;
  margin-bottom: 60px;
  font-size: 1.3em;
  letter-spacing: .5mm;
  line-height: 1cm;
  margin-left: -10px;
}

.Orlando{
  margin: -20px 20px 20px 0px;
  padding: 20px;
  padding-bottom: 0;
  font-size: 1em;
}
.Orlando h2 {
  color: white;
  opacity: .8;
  margin-top: -10px;
  font-size: 1.4em;
}

.Yatin{
  margin: 20px 20px 20px 0px;
  padding: 20px;
  padding-bottom: 0;
  font-size: 1em;
}
.Yatin h2 {
  color: white;
  opacity: .8;
  margin-top: -10px;
  font-size: 1.4em;
}

.Anna{
  margin: 20px 20px 20px 0px;
  padding: 20px;
  padding-bottom: 0;
  font-size: 1em;
}
.Anna h2 {
  color: white;
  opacity: .8;
  margin-top: -10px;
  font-size: 1.4em;
}

.Jaz{
  margin: 20px 20px 100px 0px;
  padding: 20px;
  padding-bottom: 0;
  font-size: 1em;
}
.Jaz h2 {
  color: white;
  opacity: .8;
  margin-top: -10px;
  font-size: 1.4em;
}

.dev-img {
  margin-bottom: 0px;
  height: 150px;
  width: 150px;
}

#page-h1 img{
  border-radius: 50%;
}

#home-h1 {
  margin-top: 150px;
  color: lightcoral;
}

/* general player style */
.p-title-s {
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-artist-s {
  margin-top: 0;
  color: rgba(255,255,255,.8);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-title {
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0%;
}
.p-artist {
  margin-top: 0;
  color: rgba(255,255,255,.8);
  padding-right: 10%;
  font-size: .8em;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-leaders {
  margin: 0;
  /*word-wrap: break-word;
  white-space: pre-line;*/
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-super {
  font-size: .7em;
}

.playback-hidden {
  display: none;
}


/*******************/

.swat-wrap h2 {
  margin-bottom: 5px;
  padding-bottom: 0;
}
.swat-wrap h3 {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, .8);
  font-size: 1em;
  margin-left: 10px;
  padding-right: 12%;
  margin-bottom: 20px;
}

.swat-wrap a {
  position: absolute;
  right: 15px;
  color: rgba(255, 255, 255, .8);
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
}

.artists-wrap {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-y: auto;
}

.toptoggle {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow-y: hidden;
  overflow-y: auto;
  white-space: nowrap;
  margin-bottom: 0;
}

.filter-tag {
  margin-left: 25px;
  margin-top: -1em;
  padding: 0;
  color: rgba(255,255,255,.6);
  font-weight: 800;
  letter-spacing: .4mm;
  margin-bottom: 50px;
}

.swat-stat {
  margin-bottom: 60px;
}

.artist-block {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.artist-block p {
  padding: 0 10px;
}

.artist-img {
  width: 120px;
  height: 120px;
  margin: 10px 20px;
  border-radius: 60px;
  pointer-events: none;
}

.track-img {
  width: 120px;
  height: 120px;
  margin: 10px 20px;
  pointer-events: none;
}

.toptoggle button {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .5);
  color: #fcfcfc;
  border: 1px solid white;
  padding: 10px;
  font-size: 1.2em;
  letter-spacing: 0.4mm;
  font-weight: 800;
  margin-left: 15px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}

.toptoggle button:hover {
  background-color: rgba(240, 128, 128, 0.9);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#toptracksbtn {
  background-color: rgba(240, 128, 128, 0.9);
}

#topartists {
  display: none;
}

#supers-wrap {
  display: none;
}

.superlatives {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.super1 h2 {
  color: rgb(255, 202, 78);
}
.super2 h2 {
  color: rgb(255, 242, 122);
}
.super3 h2 {
  color: rgb(143, 255, 143);
}
.super4 h2 {
  color: rgb(255, 102, 102);
}

/*.super1 img {
  box-shadow: 2px 2px 120px orange;
}
.super2 img {
  box-shadow: 2px 2px 120px yellow;
}
.super3 img {
  box-shadow: 2px 2px 120px green;
}
.super4 img {
  box-shadow: 2px 2px 120px red;
}*/



@keyframes headerIn {
  0% {
    opacity: 0;
    /*transform: scale(0.9);*/
  }
  100% {
    opacity: 1;
    /*transform: scale(1);*/
  }
}

@-webkit-keyframes headerIn {
  0% {
    opacity: 0;
    /*transform: scale(0.6);*/
  }
  100% {
    opacity: 1;
    /*transform: scale(1);*/
  }
}

.stats-wrap {
  margin-bottom: 70px;
}
.stats-wrap h2{
  font-size: 2em;
  margin-bottom: 0;
}
.superlatives h2 {
  font-family: 'Caveat Brush', cursive;
  font-weight: 800;
  font-size: 2.4em;
  padding-right: 10%;
  margin-left: 45px;
  margin-bottom: -20px;
}
.superlatives h3 {
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
  color: white;
  padding-right: 10%;
  margin-left: 45px;
  margin-top: -25px;
}

.stats-wrap ul{
  margin-left: 20px;
  padding-left: 0;
}
.track-list {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.track-list h3 {
  position: absolute;
  left: -5px;
  margin-bottom: 70px;
}


.song-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: rgba(255, 255, 255, .8);
    font-weight: 800;
    padding-right: 15%;
}
.song-img {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-left: 0;
}

.leaders-item {
  position: absolute;
  margin: 100px;
  left: 50px;
}

.leaders-li img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.track-list li {
  margin-left: 25px;
}

#p-title-home {
  white-space: normal;
}
#p-artist-home {
  white-space: normal;
}


/* FOOTER */
footer {
    position: relative;
    text-align: center;
    margin: 20px;
    margin-top: 50px;
    z-index: 99;
}

#flink1, #flink2 {
    text-decoration: none;
    color: lightgray;
}

#flink1:hover, #flink2:hover {
    color: lightcoral;
}





/* AUDIO Player Style*/

.audio-player {
  height: 100px;
  width: 100%;
  background: transparent;
  box-shadow: none;
  font-family: arial;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.audio-player .timeline {
  background: white;
  width: 85%;
  height: 6px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 #0008;
}
.audio-player .timeline .progress {
  background: lightcoral;
  border-radius: 3px;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
.audio-player-super1 .timeline .progress {
  background: rgb(255, 202, 78);
}
.audio-player-super2 .timeline .progress {
  background: rgb(255, 242, 122);
}
.audio-player-super3 .timeline .progress {
  background: rgb(143, 255, 143);
}
.audio-player-super4 .timeline .progress {
  background: rgb(255, 102, 102);
}
.audio-player-user .timeline .progress {
  background: cornflowerblue
}
.audio-player-allusers .timeline .progress {
  background: #D1B000;
}

.audio-player .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
  margin: 10px 0;
}
.audio-player .controls > * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 5px;
  height: 0;
  width: 0;
  border: 16px /*7px*/ solid #0000;
  border-left: 28px /*13px*/ solid white;
}
.audio-player .controls .toggle-play.play:hover {
  transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
  height: 30px; /*15px;*/
  width: 40px; /*20px;*/
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 5px;
  background: white;
  content: "";
  height: 30px;
  width: 8px;
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 30px;
  width: 8px;
}
.audio-player .controls .toggle-play.pause:hover {
  transform: scale(1.1);
}
.audio-player .controls .time {
  display: flex;
  font-size: 1.2em;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: lightcoral;
  height: 100%;
  width: 75%;
}

.audio-player-super1 .controls .volume-container .volume-slider .volume-percentage {
  background: rgb(255, 202, 78);
}
.audio-player-super2 .controls .volume-container .volume-slider .volume-percentage {
  background: rgb(255, 242, 122);
}
.audio-player-super3 .controls .volume-container .volume-slider .volume-percentage {
  background: rgb(143, 255, 143);
}
.audio-player-super4 .controls .volume-container .volume-slider .volume-percentage {
  background: rgb(255, 102, 102);
}

.audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

.track-list .audio-player {
  position: absolute;
  left: 160px;
  width: 35%;
}

.audio-player-leaders {
  width: 90%;
  min-width: 90%;
  max-width: 90%;
}

.audio-player-leaders .playback {
  display: none;
}

.playback {
  display: none;
}

#toptracks1 {
  display: none;
}

.rec-h1 {
  font-size: 1.8em;
}

/*.volume-container {
  display: none;
}*/


@media screen and (min-width: 578px) {
  .filter-tag {
    margin-top: -.6em;
  }
}
@media screen and (min-width: 820px) {

  #logo {
    width: 150px;
    height: 60px /*60px for desktop*/;
  }
  
  .page-h1 {
    margin-bottom: 80px;
  }

  .open-wrap-tracks {
    left: 100%;
  }
  .open-wrap-artists {
    left: 100%;
  }

  .track-list {
    width: 70%;
    transform-origin: left;
    scale: 1.2;
    margin: 40px 0px;
  }

  .result-item {
    width: 70%;
    transform-origin: left;
    scale: 1.2;
    margin: 40px 0;
  }

  .song-item {
    margin-left: 40px;
  }

  .user-main {
    position: relative;
    margin: 60px;
  }

  .artist-block {
    margin: 20px;
    margin-left: 40px;
    transform-origin: left;
    scale: 1.2;
    overflow-y: none;
  }

  .swat-stat h2 {
    margin-left: 60px;
  }
  .swat-stat h3 {
    margin-left: 60px;
  }

  .swat-wrap a {
    right: 60px;
  }

  #home-h1 {
    margin-left: 60px;
  }

  #search-form {
    margin-left: 60px;
    margin-top: 50px;
  }

  .search-bar {
    width: 60%;
    margin-top: 130px;
  }

  #result-item {
    margin-left: 60px;
  }

  #result-item h2 {
    margin-left: 70px;
  }

  #main-search {
    margin-left: 58px;
    width: 76.8%;
  }

  .result-item {
    margin-left: 60px;
  }

  .leaders-li {
    width: 70%;
    transform-origin: left;
    scale: 1.2;
    margin: 40px 0;
  }

  .leaders-li img {
    margin-left: 60px;
  }

  .track-list li {
    margin-left: 40px;
  }

  .stats-wrap {
    margin-bottom: 100px;
  }

  .superlatives h2 {
    margin-left: 70px;
    margin-bottom: -45px;
  }

  .superlatives h3 {
    margin-left: 70px;
    margin-top: -45px;
  }

  .dev-img {
    margin-bottom: 0px;
  }

  .Orlando {
    margin-top: -60px;
  }

  footer {
    margin-top: 100px;
  }

  /*.track-list img {
    margin: 35px 35px 35px 25px;
    scale: 1.5;
  }*/
}

@media screen and (min-width: 1100px) { 
  #menu-icon {
    display: none;
  }
  
  #logout-desk {
    display: flex;
  }

  .menu nav ul li {
    display: block;
  }
}

@media screen and (min-width: 1250px) { 
  .menu nav {
    margin-right: 6%;
  }
  .menu nav ul li {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1600px) { 
  .menu nav {
    margin-right: 8%;
  }
  .menu nav ul li {
    font-size: 1.5em;
    margin: 0px 40px;
    margin-top: 15px;
  }
}


  
